h1
{
  color: blue;
}
.footer {
  background: green;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 20px;
}
.social {
  width: 100%;
  height: auto;
  margin: auto;
}
.social a {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 10px;
  background: whitesmoke;
  text-align: center;
  font-size: 20px;
}
.social a:hover {
  color: black;
}
.footer {
  text-align: center;
}