
{%extends 'all-grocery/base.html'%}

{% load static %}
{% load bootstrap3 %}
{% block content %} 
{{ block.super}}
<div class="container" style="background-image: url('/media/images/cute\ green.jpg'); background-size: cover; background-repeat: no-repeat;">
<div class="row" >
    <h5 class="text-center" style="font-size: 50px; font-weight:bolder;font-family:'Caveat', cursive;">VISION</h5>
  <div class="col-md-12">
      <img src="/media/images/download.jpeg" alt="" style="display: block;margin-left: auto;margin-right: auto;width: 30%;"/>
      <p style="font-style: italic; font-style: bolder; font-size: 30px;">"Revolutionize the Online grocery Shopping Experience in Kenya and its environs".</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <h5 class="text-center" style="font-size: 50px; font-weight:bolder;font-family:'Caveat', cursive;">MISSION</h5>
    <img src="/media/images/download (1).jpeg" alt="" style="display: block;margin-left: auto;margin-right: auto;width: 70%; height: 20%;"/>
      <p style="font-size: 20px;">
        Our core mission is to emphasis on customer service and low prices truly encapsulates 
        exactly what Online grocery provides to its customers,
        all while highlighting just how large Online grocery is and how far it reaches.
      </p>
  </div>
</div>
<div class="row">
    <h5 class="text-center" style="font-size: 50px; font-weight:bolder;font-family:'Caveat', cursive;">HISTORY</h5>
  <div class="col-md-12">
    <img src="/media/images/who.png" alt="" style="display: block;margin-left: auto;margin-right: auto;width: 50%; height:20%;"/>
 <p style="font-size: 20px;">Grocery store, Kenya's no. 1 online retailer was established in May 2021 with the aim and vision to become the one-stop shop for retail in Kenya with implementation of best practices both online and offline.
    GRocery is the largest online retail store in Kenya.At inception we did an average delivery time of a week, today we do, on average, delivery in 1-5 days.</p>
<p style="font-size: 20px;" >Initially starting with 3 employees, Jumia presently has a staff strength of 1000 young and entrepreneurial Kenyans including our 150 man strong customer service team available 7 days a week.
    Country-wide Delivery in Kenya.
    Jumia set-up the 1st e-commerce academy in Kenya, the Jumia Academy, building young entrepreneurs pioneering various aspects of business in Kenya.</p>
</div>
</div>
{% endblock %}
