{% extends 'base.html' %}
{% load bootstrap3 %}
    {% block content %}
    <hr class="mt-5">
      <div class="container-fluid" style="font-size: 20px;font-family: 'Merienda One', cursive;">
            <div class="row">
                <div class="col-md-4">
                  <div class="product-img">
                    <img class="product-image" src="{{ product.image.url }}" alt="img" height="200px" style="border-radius: 50%;">
                  </div>
                </div>

                <div class="col-md-4">
                  <p style="font-size: 60px;">Product Title</p>
                  <p class="mt-5 ml-5">{{product.title}}<p><br>

                  <hr>
                  <p class="mt-5 ml-5">Product Description<p><br>

                  <p class="mt-2"> Prod des;{{product.description}}</p>
                  <hr>
                  <p class="mt-2"> PRICE; ksh{{product.price}}</p>
                  <hr>
                  <p class="mt-2"> QUANTITY;{{product.quantity}}</p>
                  <hr>
                </div>
                
                
            </div>
        </div>
    {% endblock %}